* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}
.app {
  width: 100%;
  min-height: 700px;
  overflow-x: hidden;
  background: url("../img/got.jpeg") center center no-repeat;
  background-size: cover;
  padding-bottom: 50px;
}
.app-content {
  margin: 30px 150px;
}
.app-content button {
  background: rgb(190, 190, 185);
  color: black;
  text-shadow: 0.5px 0.5px black;
  padding: 10px;
  box-shadow: 1px 2px 2px black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 30px;
}
.app-content .app-content-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
